body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAEEE0;
    margin: 0px;
    color: #5C3D2E;
}
nav {display: flex;
    justify-content: space-between;
    background-color: #e3f3fe;
    padding-left: 5%;
}
nav img {width: 100%;}
nav a:link {
    text-decoration: none;
    color: #0946c0;
}
.nav_pages a:hover {
    background-color: cornflowerblue;
    transition: 0.6s ease;
}
nav a:visited {color: #0946c0;}
/* .nav_pages div {display: inline;} */
/* .nav_pages div {display: inline; height: 200%;} */
.nav_pages {margin-top: 10px;}
.nav_pages a {
    font-size: 150%;
    line-height: 200%;
    margin-left: 2em;
    margin-right: 2em;
}
#menu {
    float: right;
    background-color: antiquewhite;
    display: none;
    padding-right: 15px;
}
.services_link {margin-right: 0em;}
.service_title img {max-width: 100%;}
.qa_title_image {
    text-align: center;

}
.qa_title_image img {
    max-width: 90%;
}

.qa_main, .main_services {
    margin-left: 15%;
    margin-right: 15%;
}
.qa_main article, .service_detail {
    border-radius: 2em;
    border: 1.5px #2D2424 solid;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #FDF6F0;
}
.ft_part {background-color: #F9E4C8;}
footer{
    display: flex;
    justify-content: space-around;
}
.ft_logo {
    flex: 1;
}
.ft_logo img {
    max-width: 100%;
    margin: 0 auto;
}
.ft_contact {
    flex: 2;
    line-height: 2em;
}
.ft_nav {
    flex: 1;
    line-height: 2em;
}
.hb_list{float: right;}
.hb_buttom {margin-right: 5%;}

#skip {
    position: absolute;
    left: -999px;
    background-color: darkslateblue;
    color: white;
}
#skip:focus {
    left: 10px;
}

.service_title {text-align: center;}
.service_content {
    display: flex;
    line-height: 1.5em;
}
.left {
    flex: 0.5;
    padding-left: 20px;
}
.right {flex: 1.5;}

.purpose {
    margin-top: 80px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.home_article {
    margin-top: 80px;
}
.home_article h2 {text-align: center;}
.article_text {
    display: flex;
    justify-content: space-around;
    border: black solid 3px;
}
.home_art_text1, .home_art_text2 {
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    margin-top: -3%;
    /* width: 70%; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-right: 3.5%;
    padding-left: 3.5%;
}
.article_1 {
    /* flex: 1;  */
    order: 1;
    width: 38%;
}
.article_2 {
    /* flex: 1;  */
    order: 2;
    width: 38%;
}

.home_art_text {
    margin-top: -6px;
    /* width: 545px; */
    border: black 2px solid;
}
.home_art_text p {
    line-height: 130%;
    text-indent: -2em;
    padding-left: 6%;
    padding-right: 6%;
}

.pic_slide img {
    max-width: 100%;
}
.pic_slide {
    z-index: 1;
    position: relative;
}
#pic2, #pic3 {display: none;}
#before_img {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 5%;
    float: left;
    font-size: 300%;
    background-color: rgba(72, 72, 72, 0.8);
    color: #e3f3fe;
    padding: 10px;
    display: none;

}
#next_img {
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 5%;
    float: right;
    font-size: 3rem;
    padding: 10px;
    background-color: rgba(72, 72, 72, 0.8);
    color: #e3f3fe;
    display: none;
    /* transition: 0.6s ease; */
}
.ft_line {display: none;}
.hb_buttom {display: none;}
.home_article img {max-width: 100%;}
.advertise {margin-top: 20%;}





@media only screen and (max-width: 620px) {
    footer {
        display: block;
        text-align: center;
    }
    .nav_pages {display: none;}
    .ft_line {display: block;}

}
@media only screen and (max-width: 920px) {
    .article_text {
        display: block;
    }
    .article_1 img {width: 550px;}
    .home_art_text1 {margin-bottom: 5%;}
}


/* @media only screen and (min-width: 600px) {
    .ft_line {display: none;}
    .hb_buttom {display: none;}
} */