body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {display: flex;
    justify-content: space-between;
}
nav img {max-width: 100%;}
/* .nav_pages div {display: inline;} */
.nav_pages div {display: inline; height: 200%;}
.nav_pages a {
    font-size: 150%;
    line-height: 200%;
    margin-left: 2em;
    margin-right: 2em;
}
.qa_title_image {
    background-image: url(../images/qa_background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 27%;
    width: 90%;
    margin: 0 auto;
}
.qa_title {
    text-align: center;
    color: coral;
    font-size: 3em;
}
.qa_main {
    margin-left: 15%;
    margin-right: 15%;
}
.qa_main article {
    border-radius: 2em;
    border: 1px black solid;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
}
.ft_logo {
    flex: 1;
}
.ft_logo img {
    max-width: 100%;
    margin: 0 auto;
}
.ft_contact {
    flex: 2;
    line-height: 2em;
}
.ft_nav {
    flex: 1;
    line-height: 2em;
}

@media only screen and (max-width: 600px) {
    footer {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .ft_line {display: none;}
}