body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAEEE0;
    margin: 0px;
    color: #5C3D2E;
}
nav {display: flex;
    justify-content: space-between;
    background-color: #e3f3fe;
    padding-left: 5%;
}
nav img {max-width: 100%;}
nav a:link {
    text-decoration: none;
    color: #0946c0;
}
.nav_pages a:hover {background-color: cornflowerblue;}
nav a:visited {color: #0946c0;}
/* .nav_pages div {display: inline;} */
/* .nav_pages div {display: inline; height: 200%;} */
.nav_pages {margin-top: 10px;}
.nav_pages a {
    font-size: 150%;
    line-height: 200%;
    margin-left: 2em;
    margin-right: 2em;
}
#menu {
    float: right;
    background-color: antiquewhite;
    display: none;
    padding-right: 15px;
}
.services_link {margin-right: 0em;}
.qa_title_image {
    text-align: center;
    /* background-image: url(../images/qa_background1.png); */
    /* background-repeat: no-repeat;
    background-size: 100%; */
    /* padding-bottom: 27%; */
    /* padding-bottom: 17%; */
    /* width: 90%; */
    /* margin: 0 auto; */
}
.qa_title_image img {
    max-width: 90%;
}
/* .qa_image {
    width: 90%;
    position: absolute;
} */
/* .qa_title {
    text-align: center;
    color: #352EFF;
    font-size: 3em;
    padding-top: 30px;
} */
.qa_main {
    margin-left: 15%;
    margin-right: 15%;
}
.qa_main article {
    border-radius: 2em;
    border: 1.5px #2D2424 solid;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #FDF6F0;
}
.ft_part {background-color: #F9E4C8;}
footer{
    display: flex;
    justify-content: space-around;
}
.ft_logo {
    flex: 1;
}
.ft_logo img {
    max-width: 100%;
    margin: 0 auto;
}
.ft_contact {
    flex: 2;
    line-height: 2em;
}
.ft_nav {
    flex: 1;
    line-height: 2em;
}
.hb_list{float: right;}
.hb_buttom {margin-right: 5%;}

#skip {
    position: absolute;
    left: -999px;
    background-color: darkslateblue;
    color: white;
}
#skip:focus {
    left: 10px;
}

@media only screen and (max-width: 600px) {
    footer {
        display: block;
        text-align: center;
    }
    .nav_pages {display: none;}
}

@media only screen and (min-width: 600px) {
    .ft_line {display: none;}
    .hb_buttom {display: none;}
}